input, select, textarea {
    width: 100%;
}

form p {
    margin-bottom: 0.75rem;
}

form label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

form input, form select, form textarea {
    border: 1px solid hsl(var(--bc) / 0.2);
    border-radius: 0.5rem;
    padding: 0.75rem;
    background: hsl(var(--b1));
}

textarea {
    min-height: 9rem;
}
